= styles_for :project

= render 'entities/title_bar'

.remote#create_project{ hidden }

= render 'search'

.remote#options{ hidden }

.list#projects
  - if @projects.any?
    = render @projects
  - else
    = render "shared/empty"

#paginate= render "shared/paginate_with_per_page"
#export= render "shared/export"

= hook(:project_index_after, self)
